.navBar {
  position: sticky;
  top: 0;
  width: 98.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 2;
  background-color: white;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
}

.appIconContainer {
  display: flex;
  align-items: center;
}

/* BookIcon component */
.feather-book-open {
  margin-right: 5px;
  margin-top: 6px;
  padding: 0;
  width: 35px;
  height: 30px;
  color: brown;
}

.navBar h1 {
  margin: 0;
  color: rgb(73, 73, 73);
}

.navBar a {
  margin-right: 30px;
  text-decoration: none;
  color: brown;
  font-weight: bold;
}
