.bookContainer {
  display: flex;
  flex-direction: column;
  max-width: 160px;
}

.bookCover {
  position: relative;
  height: 160px;
  width: 120px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 1px;
  margin: 0 5px;
}

.bookCover img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.bookTitle {
  color: rgb(75, 75, 75);
  margin-bottom: 5px;
  margin-left: 10px;
}

.authors {
  display: flex;
  flex-direction: column;
  color: rgb(189, 189, 189);
  margin-left: 10px;
}

.authors h4 {
  margin: 1px 0;
  font-size: 14px;
}
